.dub
docs/
/shaders_test
shaders_test.so
shaders_test.dylib
shaders_test.dll
shaders_test.a
shaders_test.lib
*.exe
*.o
*.obj
*.lst

bin/*
!bin/glfw3.dll
!bin/imgui.lib
!bin/.gitignore
!bin/cloth2.Uniforms.json

vcg_ast
.vs